*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

html{
    scroll-behavior: smooth;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.411),
    rgba(0, 0, 0, 0.986)),url(p2.jpeg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50px;
    cursor: pointer;
}

.navbar ul li{
    background: #f20000;
    padding: 5px;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    border-radius: 5px;
}

.navbar ul li:hover{
    background: none;
}

.navbar ul li a{
    text-decoration: none;
    color : #000000;
    text-transform: uppercase;
}

.navbar ul li a:hover{
    color: #fff;

}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ed0000;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
    color: #fff;
}

.content{
    width: 100%;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border:2px solid #ff0808;
    background: transparent;
    color: #fff;
    cursor: pointer; 
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 0;
    Width : 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    height: 100%;
}

button:hover{
    border: none;
}


/* konten */

.cocon h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 10px;
}
.conteb{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    z-index: 2;
}



.left-col{
    flex-basis: 50%;
    background : #fff;
    position: relative;
    margin: 10px;
}

.right-col{
    flex-basis: 50%;
    background: hsl(197, 100%, 60%);
    position: relative;
    border-radius: 10px;
}

.left-col h2{
    margin: 15px 0 10px;
    color :#949494;
}

.left-col p{
    width: 97%;
    font-size: 13px;
    text-align: justify;
    color :#5f5f5f;
    line-height: 15px;
    margin-bottom: 20px;
}

.right-col{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100px;
    text-align: center;
}


.result {
    font-size: 18px;
    font-weight: bold;
}

.photo-id {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.info {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

.name {
    font-weight: bold;
}

.position {
    font-style: italic;
    color: #888;
}

.letrr{
    color: #fff;
}

/* Konten SERVISu */



/* AIN/Fotter */

footer{
    width: 100%;
    position: absolute;
    background: linear-gradient(to right, #31d6ff, #ff2e2ea9);
    color: #fff;
    padding: 40px 0 20px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.log{
    width: 50px;
    margin-bottom: 10px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.col li{
    list-style: none;
}

.col li a{
    text-decoration: none;
    color: #fff;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration:  none;
    color: #fff;
}

.lia-tblet{
    display: none;
}

/* ba leten */

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 20%;
    font-size: 20px;
    cursor: pointer;
    display: none; /* Tombol disembunyikan secara default */
    transition: 5.5s;
}

/* Menampilkan tombol ketika halaman digulir */
#backToTop.show {
    display: block;
}


@media (max-width:996px){
    .banner, .content, .cocon, footer{
        display: none;
    }

    .lia-tblet{
        display:block;
    }

    .lia-tblet h1{
        text-align: center;
        margin-top: 50%;
    }


}